<a href="https://colab.research.google.com/github/2303A51758/2303A51758-b-11-PDS/blob/main/lab4_aug28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#student marks analysis
import pandas as pd
#Read the CSV file
df = pd.read_csv("student_scores.csv")
print("Original Data:")
print(df, "\n")

Original Data:
   Student_ID     Name  Math  Science  English
0         101    Aarav  85.0     78.0     92.0
1         102     Isha  90.0      NaN     88.0
2         103   Vihaan  72.0     80.0      NaN
3         104   Ananya   NaN     76.0     81.0
4         105   Aditya  88.0     91.0     77.0
5         106    Divya  95.0     89.0     94.0
6         107  Krishna  68.0      NaN     72.0
7         108   Saanvi  78.0     85.0     80.0
8         109    Arjun  82.0     79.0      NaN
9         110    Meera   NaN     84.0     90.0

In [7]:
import pandas as pd
#Read the CSV file df = pd.read_csv("student_scores.csv")
print("Original Data:")
print(df, "\n")

Original Data:
   Student_ID     Name  Math  Science  English
0         101    Aarav  85.0     78.0     92.0
1         102     Isha  90.0      NaN     88.0
2         103   Vihaan  72.0     80.0      NaN
3         104   Ananya   NaN     76.0     81.0
4         105   Aditya  88.0     91.0     77.0
5         106    Divya  95.0     89.0     94.0
6         107  Krishna  68.0      NaN     72.0
7         108   Saanvi  78.0     85.0     80.0
8         109    Arjun  82.0     79.0      NaN
9         110    Meera   NaN     84.0     90.0

In [13]:
#Filter students who scored more than 75 in all subjects
high_achievers = df[(df['Math'] > 75) &                            (df['Science'] > 75) &                            (df['English'] > 75)]
print("High Achievers (scored > 75 in all subjects):")
print(high_achievers)

High Achievers (scored > 75 in all subjects):
   Student_ID    Name  Math  Science  English
0         101   Aarav  85.0     78.0     92.0
4         105  Aditya  88.0     91.0     77.0
5         106   Divya  95.0     89.0     94.0
7         108  Saanvi  78.0     85.0     80.0

In [33]:
#Hospital Patient Records
import pandas as pd
df = pd.read_excel("patients.xlsx")
print("Original Data:")
print(df, "\n")

Original Data:
    Patient_ID      Name       Age   Gender      Diagnosis   Admission_Date  \
0        101.0     Meera      55.0   Female       Diabetes       2025-03-12
1        102.0     Aarav       NaN     Male   Hypertension       2025-02-18
2        103.0    Ananya       NaN   Female       Diabetes       2025-01-25
3        104.0   Krishna      47.0     Male        Asthama       2025-03-05
4        105.0    Saanvi      72.0   Female       Diabetes       2025-02-10
5        106.0    Aditya      34.0     Male       Fracture       2025-03-19
6        107.0      Isha       NaN   Female       Diabetes       2025-01-15
7        108.0    Vihaan      50.0     Male  Heart Disease       2025-02-28
8        109.0      Diya       NaN   Female   Hypertension       2025-03-02
9        110.0     Arjun      66.0     Male       Diabetes       2025-03-14
10         NaN       NaN       NaN      NaN            NaN              NaT
11         NaN       NaN       NaN      NaN            NaN              NaT
12         NaN       NaN       NaN      NaN            NaN              NaT

    Unnamed: 6  Unnamed: 7 Unnamed: 8
0          NaN         NaN        NaN
1          NaN         NaN        NaN
2          NaN         NaN        NaN
3          NaN         NaN        NaN
4          NaN         NaN        NaN
5          NaN         NaN        NaN
6          NaN         NaN        NaN
7          NaN         NaN        NaN
8          NaN         NaN        NaN
9          NaN         NaN        NaN
10         NaN         NaN        NaN
11         NaN         NaN        NaN
12         NaN         NaN          z

In [46]:
#Replace missing Age values with median median_age = df['Age'].median() df['Age'] = df['Age'].fillna(median_age)
print("After Filling Missing Ages with Median:")
print(df, "\n")

After Filling Missing Ages with Median:
    Patient_ID      Name       Age   Gender      Diagnosis   Admission_Date  \
0        101.0     Meera      55.0   Female       Diabetes       2025-03-12
1        102.0     Aarav       NaN     Male   Hypertension       2025-02-18
2        103.0    Ananya       NaN   Female       Diabetes       2025-01-25
3        104.0   Krishna      47.0     Male        Asthama       2025-03-05
4        105.0    Saanvi      72.0   Female       Diabetes       2025-02-10
5        106.0    Aditya      34.0     Male       Fracture       2025-03-19
6        107.0      Isha       NaN   Female       Diabetes       2025-01-15
7        108.0    Vihaan      50.0     Male  Heart Disease       2025-02-28
8        109.0      Diya       NaN   Female   Hypertension       2025-03-02
9        110.0     Arjun      66.0     Male       Diabetes       2025-03-14
10         NaN       NaN       NaN      NaN            NaN              NaT
11         NaN       NaN       NaN      NaN            NaN              NaT
12         NaN       NaN       NaN      NaN            NaN              NaT

    Unnamed: 6  Unnamed: 7 Unnamed: 8
0          NaN         NaN        NaN
1          NaN         NaN        NaN
2          NaN         NaN        NaN
3          NaN         NaN        NaN
4          NaN         NaN        NaN
5          NaN         NaN        NaN
6          NaN         NaN        NaN
7          NaN         NaN        NaN
8          NaN         NaN        NaN
9          NaN         NaN        NaN
10         NaN         NaN        NaN
11         NaN         NaN        NaN
12         NaN         NaN          z

In [47]:
#Replace missing Age values with median median_age = df['Age'].median() df['Age'] = df['Age'].fillna(median_age)
print("After Filling Missing Ages with Median:")
print(df, "\n")

After Filling Missing Ages with Median:
    Patient_ID      Name       Age   Gender      Diagnosis   Admission_Date  \
0        101.0     Meera      55.0   Female       Diabetes       2025-03-12
1        102.0     Aarav       NaN     Male   Hypertension       2025-02-18
2        103.0    Ananya       NaN   Female       Diabetes       2025-01-25
3        104.0   Krishna      47.0     Male        Asthama       2025-03-05
4        105.0    Saanvi      72.0   Female       Diabetes       2025-02-10
5        106.0    Aditya      34.0     Male       Fracture       2025-03-19
6        107.0      Isha       NaN   Female       Diabetes       2025-01-15
7        108.0    Vihaan      50.0     Male  Heart Disease       2025-02-28
8        109.0      Diya       NaN   Female   Hypertension       2025-03-02
9        110.0     Arjun      66.0     Male       Diabetes       2025-03-14
10         NaN       NaN       NaN      NaN            NaN              NaT
11         NaN       NaN       NaN      NaN            NaN              NaT
12         NaN       NaN       NaN      NaN            NaN              NaT

    Unnamed: 6  Unnamed: 7 Unnamed: 8
0          NaN         NaN        NaN
1          NaN         NaN        NaN
2          NaN         NaN        NaN
3          NaN         NaN        NaN
4          NaN         NaN        NaN
5          NaN         NaN        NaN
6          NaN         NaN        NaN
7          NaN         NaN        NaN
8          NaN         NaN        NaN
9          NaN         NaN        NaN
10         NaN         NaN        NaN
11         NaN         NaN        NaN
12         NaN         NaN          z