<a href="https://colab.research.google.com/github/2303A51758/2303A51758-b-11-PDS/blob/main/lab_5_sep4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# -----------------------------
# Step 1: Create Sample Datasets
# -----------------------------
# Products dataset
products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics'],
    'price': [70000, 30000, 20000, 5000, 15000]
})

print("Products Dataset:")
print(products, "\n")

# Sales dataset
sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 104, 101, 105, 106],  # 106 doesnâ€™t exist in products
    'quantity': [3, 5, 2, 10, 1, 4, 2]
})

print("Sales Dataset:")
print(sales, "\n")

# -----------------------------
# Step 2: Merge Datasets
# -----------------------------
# Inner Join
merged_inner = pd.merge(sales, products, on="product_id", how="inner")
print("Inner Join Result:")
print(merged_inner, "\n")

# Outer Join
merged_outer = pd.merge(sales, products, on="product_id", how="outer")
print("Outer Join Result:")
print(merged_outer, "\n")

# -----------------------------
# Step 3: Compute Statistics
# -----------------------------
# Add revenue column
merged_inner['revenue'] = merged_inner['quantity'] * merged_inner['price']
print("Merged Data with Revenue:")
print(merged_inner, "\n")

# Overall statistics
total_revenue = merged_inner['revenue'].sum()
avg_price = products['price'].mean()
product_sales = merged_inner.groupby('product_name')['quantity'].sum()

print("Total Revenue:", total_revenue)
print("Average Product Price:", avg_price, "\n")
print("Product-wise Total Sales:")
print(product_sales, "\n")

# Category-wise statistics
category_sales = merged_inner.groupby('category')['revenue'].sum()
best_category = category_sales.idxmax()

print("Category-wise Revenue:")
print(category_sales, "\n")
print("Best-Selling Category (by revenue):", best_category)

Products Dataset:
   product_id product_name     category  price
0         101       Laptop  Electronics  70000
1         102   Smartphone  Electronics  30000
2         103       Tablet  Electronics  20000
3         104   Headphones  Accessories   5000
4         105   Smartwatch  Electronics  15000

Sales Dataset:
   sale_id  product_id  quantity
0        1         101         3
1        2         102         5
2        3         103         2
3        4         104        10
4        5         101         1
5        6         105         4
6        7         106         2

Inner Join Result:
   sale_id  product_id  quantity product_name     category  price
0        1         101         3       Laptop  Electronics  70000
1        2         102         5   Smartphone  Electronics  30000
2        3         103         2       Tablet  Electronics  20000
3        4         104        10   Headphones  Accessories   5000
4        5         101         1       Laptop  Electronics  70000
5        6         105         4   Smartwatch  Electronics  15000

Outer Join Result:
   sale_id  product_id  quantity product_name     category    price
0        1         101         3       Laptop  Electronics  70000.0
1        5         101         1       Laptop  Electronics  70000.0
2        2         102         5   Smartphone  Electronics  30000.0
3        3         103         2       Tablet  Electronics  20000.0
4        4         104        10   Headphones  Accessories   5000.0
5        6         105         4   Smartwatch  Electronics  15000.0
6        7         106         2          NaN          NaN      NaN

Merged Data with Revenue:
   sale_id  product_id  quantity product_name     category  price  revenue
0        1         101         3       Laptop  Electronics  70000   210000
1        2         102         5   Smartphone  Electronics  30000   150000
2        3         103         2       Tablet  Electronics  20000    40000
3        4         104        10   Headphones  Accessories   5000    50000
4        5         101         1       Laptop  Electronics  70000    70000
5        6         105         4   Smartwatch  Electronics  15000    60000

Total Revenue: 580000
Average Product Price: 28000.0

Product-wise Total Sales:
product_name
Headphones    10
Laptop         4
Smartphone     5
Smartwatch     4
Tablet         2
Name: quantity, dtype: int64

Category-wise Revenue:
category
Accessories     50000
Electronics    530000
Name: revenue, dtype: int64

Best-Selling Category (by revenue): Electronics

In [2]:
import pandas as pd

# -----------------------------
# Step 1: Create Sample Datasets
# -----------------------------
# Teachers dataset
teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['CS', 'Math', 'CS', 'Physics']
})

print("Teachers Dataset:")
print(teachers, "\n")

# Courses dataset
courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106],
    'course_name': ['AI', 'Data Structures', 'Calculus', 'Physics I', 'ML', 'Algorithms'],
    'teacher_id': [1, 1, 2, 4, 1, 3]  # some teachers handle multiple courses
})

print("Courses Dataset:")
print(courses, "\n")

# -----------------------------
# Step 2: Merge Datasets
# -----------------------------
# Inner Join (only matching teacher_ids)
merged_inner = pd.merge(courses, teachers, on="teacher_id", how="inner")
print("Inner Join Result:")
print(merged_inner, "\n")

# Left Join (all courses, even if teacher missing)
merged_left = pd.merge(courses, teachers, on="teacher_id", how="left")
print("Left Join Result:")
print(merged_left, "\n")

# -----------------------------
# Step 3: Compute Statistics
# -----------------------------
# Number of courses per teacher
courses_per_teacher = merged_inner.groupby('teacher_name')['course_id'].count()
avg_courses_per_teacher = courses_per_teacher.mean()

print("Courses per Teacher:")
print(courses_per_teacher, "\n")
print("Average Courses per Teacher:", avg_courses_per_teacher, "\n")

# Workload by department (total number of courses taught by dept)
department_workload = merged_inner.groupby('department')['course_id'].count()

print("Department-wise Workload:")
print(department_workload, "\n")

# Best performing department (highest workload)
busiest_department = department_workload.idxmax()
print("Department with Highest Workload:", busiest_department)

Teachers Dataset:
   teacher_id teacher_name department
0           1        Alice         CS
1           2          Bob       Math
2           3      Charlie         CS
3           4        David    Physics

Courses Dataset:
   course_id      course_name  teacher_id
0        101               AI           1
1        102  Data Structures           1
2        103         Calculus           2
3        104        Physics I           4
4        105               ML           1
5        106       Algorithms           3

Inner Join Result:
   course_id      course_name  teacher_id teacher_name department
0        101               AI           1        Alice         CS
1        102  Data Structures           1        Alice         CS
2        103         Calculus           2          Bob       Math
3        104        Physics I           4        David    Physics
4        105               ML           1        Alice         CS
5        106       Algorithms           3      Charlie         CS

Left Join Result:
   course_id      course_name  teacher_id teacher_name department
0        101               AI           1        Alice         CS
1        102  Data Structures           1        Alice         CS
2        103         Calculus           2          Bob       Math
3        104        Physics I           4        David    Physics
4        105               ML           1        Alice         CS
5        106       Algorithms           3      Charlie         CS

Courses per Teacher:
teacher_name
Alice      3
Bob        1
Charlie    1
David      1
Name: course_id, dtype: int64

Average Courses per Teacher: 1.5

Department-wise Workload:
department
CS         4
Math       1
Physics    1
Name: course_id, dtype: int64

Department with Highest Workload: CS